In [1]:
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [2]:
cleaned_data_url = '../../Resources/2018MBB_StatsAndDraft_Cleaned.csv'

raw_df = pd.read_csv(cleaned_data_url)

In [3]:
numerical_cols = raw_df.dtypes[raw_df.dtypes != 'object'].index.tolist()

numerical_df = raw_df[numerical_cols]
numerical_df.index = raw_df['Player']
numerical_df.head()

,GP,MPG,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,TOV,PF,ORB,DRB,RPG,APG,SPG,BPG,PPG,Pk
Player,,,,,,,,,,,,,,,,,,,,,
Deandre Ayton,35,33.5,7.9,12.9,0.612,0.3,1.0,0.343,4.0,5.5,...,2.0,2.3,3.4,8.2,11.6,1.6,0.6,1.9,20.1,1.0
Marvin Bagley III,33,33.9,8.2,13.3,0.614,0.7,1.8,0.397,4.0,6.3,...,2.3,1.8,4.0,7.1,11.1,1.5,0.8,0.9,21.0,2.0
Trae Young,32,35.4,8.2,19.3,0.422,3.7,10.2,0.360,7.4,8.6,...,5.2,1.8,0.4,3.5,3.9,8.7,1.7,0.2,27.4,5.0
Mo Bamba,30,30.2,4.9,9.0,0.541,0.5,1.7,0.275,2.7,4.0,...,1.5,2.5,3.2,7.3,10.5,0.5,0.8,3.7,12.9,6.0
Collin Sexton,33,29.9,5.9,13.3,0.447,1.3,4.0,0.336,5.9,7.6,...,2.8,2.5,1.0,2.7,3.8,3.6,0.8,0.1,19.2,8.0

In [13]:
X = numerical_df.drop(columns=['Pk'])
y = numerical_df['Pk'].apply(lambda x: 1 if x <= 60 else 0)

In [14]:
from imblearn.combine import SMOTEENN

In [15]:
smoteenn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smoteenn.fit_resample(X,y)

In [16]:
X_resampled

,GP,MPG,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,TOV,PF,ORB,DRB,RPG,APG,SPG,BPG,PPG
0,33,31.900000,6.600000,14.400000,0.456000,2.600000,6.900000,0.380000,4.300000,5.600000,0.772000,2.200000,2.000000,1.100000,3.900000,5.000000,1.700000,1.100000,0.100000,20.100000
1,32,30.200000,7.100000,15.400000,0.458000,2.200000,5.800000,0.380000,3.500000,5.000000,0.696000,2.400000,2.100000,0.600000,3.000000,3.500000,2.700000,0.800000,0.200000,19.800000
2,33,31.600000,7.500000,15.400000,0.483000,2.900000,7.000000,0.413000,2.000000,2.700000,0.744000,2.200000,1.700000,0.700000,3.200000,3.900000,2.700000,1.000000,0.100000,19.800000
3,38,33.500000,5.800000,14.700000,0.397000,3.500000,9.300000,0.378000,4.400000,4.900000,0.888000,1.700000,2.300000,0.400000,3.700000,4.200000,0.900000,0.600000,0.300000,19.500000
4,35,34.000000,7.100000,13.500000,0.527000,0.500000,1.700000,0.295000,4.700000,6.900000,0.675000,2.100000,2.600000,3.000000,5.800000,8.700000,1.300000,0.700000,0.100000,19.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3567,40,29.720553,4.951302,10.176952,0.486924,2.189751,5.425651,0.407103,2.079501,2.825651,0.735310,1.892299,2.100000,1.153850,3.671800,4.889751,3.212798,1.171800,0.361551,14.153905
3568,27,34.064305,5.975790,13.559522,0.441520,1.556746,4.156746,0.370917,5.413493,6.973014,0.780774,2.889282,2.683732,1.637703,5.211101,6.848804,2.932536,1.670239,0.697225,18.978565
3569,31,28.457229,4.402950,9.960179,0.447758,1.871978,4.833631,0.389174,2.085251,2.694101,0.777413,1.995575,2.397050,1.808849,6.111799,7.820648,1.104425,0.504425,0.726547,12.863128
3570,32,32.805981,7.596403,13.526349,0.561563,1.001798,2.667670,0.382665,4.490422,6.639523,0.665102,2.714973,2.026349,2.830532,6.986826,9.817357,2.254496,1.064074,0.673651,20.622752
3571,34,32.318561,4.036601,8.818561,0.458235,1.549739,3.572158,0.428175,2.432221,2.800522,0.883482,1.232221,1.440980,0.468300,3.804379,4.186340,3.373201,0.995621,0.154640,12.068822

In [17]:
from collections import Counter
Counter(y)

Counter({1: 37, 0: 1963})

In [18]:
Counter(y_resampled)

Counter({0: 1631, 1: 1941})

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled,y_resampled,random_state=1)

In [20]:
classifier = LogisticRegression(solver='lbfgs',random_state=1, max_iter=1000)
classifier.fit(X_train,y_train)

LogisticRegression(max_iter=1000, random_state=1)

In [21]:
predictions = classifier.predict(X_test)

acc_score = accuracy_score(y_test,predictions)
acc_score

0.8913773796192609

In [22]:
matrix = confusion_matrix(y_test,predictions)
print(matrix)

[[357  64]
 [ 33 439]]

In [23]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [25]:
results[results['Prediction'] != results['Actual']]

     Prediction  Actual
12            1       0
14            1       0
34            1       0
53            1       0
60            0       1
..          ...     ...
861           1       0
868           1       0
871           1       0
877           0       1
886           1       0

[97 rows x 2 columns]

In [26]:
report = classification_report(y_test,predictions,zero_division=True)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.85      0.88       421
           1       0.87      0.93      0.90       472

    accuracy                           0.89       893
   macro avg       0.89      0.89      0.89       893
weighted avg       0.89      0.89      0.89       893