In [1]:
import pandas as pd
from path import Path

In [9]:
file_path = Path("./NCAAMB2017-18.csv")
draft_path = Path("./2018draft.csv")

draft_2018 = pd.read_csv(draft_path)

ncaa_stats = pd.read_csv(file_path)
ncaa_stats.head(10)

,Player,Team,GP,MPG,FGM,FGA,FG%,3PM,3PA,3P%,...,FT%,TOV,PF,ORB,DRB,RPG,APG,SPG,BPG,PPG
0,Trae Young,OU,32,35.4,8.2,19.3,0.422,3.7,10.2,0.360,...,0.861,5.2,1.8,0.4,3.5,3.9,8.7,1.7,0.2,27.4
1,Kendrick Nunn,OU,30,37.9,8.7,20.1,0.435,4.5,11.3,0.394,...,0.838,2.9,2.2,0.9,3.8,4.7,3.8,1.5,0.4,25.9
2,Jordan Howard,UCA,35,36.0,8.0,17.5,0.457,3.2,8.2,0.394,...,0.888,2.3,1.2,0.3,3.3,3.6,2.7,1.0,0.0,25.1
3,Chris Clemons,CAM,31,34.0,7.5,16.6,0.452,3.1,8.3,0.371,...,0.861,2.7,1.9,0.3,4.3,4.6,3.1,1.6,0.3,24.9
4,Justin Wright-Foreman,HOF,31,37.8,8.5,19.0,0.449,3.1,8.5,0.366,...,0.799,2.2,2.0,0.3,3.0,3.3,3.2,0.8,0.2,24.4
5,Mike Daum,SDSU,35,31.1,7.8,16.9,0.462,2.7,6.5,0.425,...,0.851,2.1,2.4,1.8,8.4,10.3,1.3,0.5,0.7,23.9
6,R.J. Cole,HU,33,37.9,7.3,18.5,0.394,3.3,9.2,0.359,...,0.770,3.8,2.6,0.8,3.1,3.9,6.0,1.7,0.0,23.7
7,Demontrae Jefferson,TSU,27,37.6,7.7,18.3,0.420,3.1,8.0,0.394,...,0.823,3.1,2.5,0.7,2.4,3.1,4.6,1.3,0.0,23.3
8,Jon Elmore,MU,36,38.3,6.8,15.4,0.438,2.7,7.7,0.355,...,0.826,3.7,1.6,0.4,5.4,5.8,6.7,1.6,0.4,22.7
9,Bryson Scott,IPFW,33,31.1,7.5,16.4,0.457,1.5,5.1,0.296,...,0.818,2.8,2.0,0.6,3.9,4.5,2.6,2.0,0.2,22.6

In [6]:
# Checking row 55 to see if name is in quotes as seen in CSV
ncaa_stats.iloc[55:56]

,Player,Team,GP,MPG,FGM,FGA,FG%,3PM,3PA,3P%,...,FT%,TOV,PF,ORB,DRB,RPG,APG,SPG,BPG,PPG
55,"Kyle Allman, Jr.",CSUF,32,32.9,6.2,12.7,0.489,1.4,3.3,0.429,...,0.746,2.3,2.1,0.3,3.1,3.5,2.3,1.1,0.2,19.5

In [7]:
ncaa_stats.dtypes

Player     object
Team       object
GP          int64
MPG       float64
FGM       float64
FGA       float64
FG%       float64
3PM       float64
3PA       float64
3P%       float64
FTM       float64
FTA       float64
FT%       float64
TOV       float64
PF        float64
ORB       float64
DRB       float64
RPG       float64
APG       float64
SPG       float64
BPG       float64
PPG       float64
dtype: object

In [10]:
draft_2018.dtypes

Pk          int64
Tm         object
Player     object
College    object
dtype: object

In [12]:
draft_2018.head(10)

   Pk   Tm              Player         College
0   1  PHO       Deandre Ayton         Arizona
1   2  SAC   Marvin Bagley III            Duke
2   3  ATL         Luka Dončić             NaN
3   4  MEM   Jaren Jackson Jr.  Michigan State
4   5  DAL          Trae Young        Oklahoma
5   6  ORL            Mo Bamba           Texas
6   7  CHI  Wendell Carter Jr.            Duke
7   8  CLE       Collin Sexton         Alabama
8   9  NYK          Kevin Knox        Kentucky
9  10  PHI       Mikal Bridges       Villanova