In [3]:
import pandas as pd

In [10]:
combined_draft_data = pd.DataFrame(columns=['Pk','Tm','Player','College'])

for year in range(2007,2021):

    df = pd.read_csv(f"./data/{year}draft.csv")
    
    combined_draft_data = combined_draft_data.append(df, ignore_index=True)

combined_draft_data.to_csv()

     Pk   Tm        Player                College
0     1  POR     Greg Oden             Ohio State
1     2  SEA  Kevin Durant                  Texas
2     3  ATL    Al Horford                Florida
3     4  MEM   Mike Conley             Ohio State
4     5  BOS    Jeff Green             Georgetown
..   ..  ...           ...                    ...
674  56  CHO  Grant Riller  College of Charleston
675  57  LAC  Reggie Perry      Mississippi State
676  58  PHI     Paul Reed                 DePaul
677  59  TOR  Jalen Harris                 Nevada
678  60  NOP   Sam Merrill  Utah State University

[679 rows x 4 columns]

In [9]:
year=2010
pd.read_csv(f"./data/{year}draft.csv")

    Pk   Tm             Player             College
0    1  WAS          John Wall            Kentucky
1    2  PHI        Evan Turner          Ohio State
2    3  NJN     Derrick Favors        Georgia Tech
3    4  MIN     Wesley Johnson            Syracuse
4    5  SAC   DeMarcus Cousins            Kentucky
5    6  GSW          Ekpe Udoh              Baylor
6    7  DET        Greg Monroe          Georgetown
7    8  LAC    Al-Farouq Aminu         Wake Forest
8    9  UTA     Gordon Hayward              Butler
9   10  IND        Paul George        Fresno State
10  11  NOH       Cole Aldrich              Kansas
11  12  MEM       Xavier Henry              Kansas
12  13  TOR           Ed Davis                 UNC
13  14  HOU  Patrick Patterson            Kentucky
14  15  MIL      Larry Sanders                 VCU
15  16  MIN       Luke Babbitt              Nevada
16  18  OKC       Eric Bledsoe            Kentucky
17  19  BOS      Avery Bradley               Texas
18  20  SAS     James Anderson      Oklahoma State
19  21  OKC     Craig Brackins          Iowa State
20  22  POR    Elliot Williams             Memphis
21  23  MIN      Trevor Booker             Clemson
22  24  ATL       Damion James               Texas
23  25  MEM    Dominique Jones       South Florida
24  26  OKC   Quincy Pondexter          Washington
25  27  NJN    Jordan Crawford              Xavier
26  28  MEM    Greivis Vásquez            Maryland
27  29  ORL       Daniel Orton            Kentucky
28  30  WAS      Lazar Hayward           Marquette
29  32  MIA     Dexter Pittman               Texas
30  33  SAC   Hassan Whiteside            Marshall
31  34  POR      Armon Johnson              Nevada
32  36  DET      Terrico White            Ole Miss
33  37  MIL   Darington Hobson          New Mexico
34  38  NYK       Andy Rautins            Syracuse
35  39  NYK      Landry Fields            Stanford
36  40  IND   Lance Stephenson          Cincinnati
37  41  MIA     Jarvis Varnado   Mississippi State
38  42  MIA     Da'Sean Butler       West Virginia
39  43  LAL       Devin Ebanks       West Virginia
40  44  MIL      Jerome Jordan               Tulsa
41  46  PHO         Gani Lawal        Georgia Tech
42  47  MIL        Tiny Gallon            Oklahoma
43  50  DAL      Solomon Alabi       Florida State
44  51  OKC       Magnum Rolle      Louisiana Tech
45  52  BOS     Luke Harangody          Notre Dame
46  54  LAC      Willie Warren            Oklahoma
47  55  UTA       Jeremy Evans    Western Kentucky
48  56  MIN     Hamady N'Diaye  Rutgers University
49  57  IND          Ryan Reid       Florida State
50  58  LAL   Derrick Caracter       Texas-El Paso
51  59  ORL   Stanley Robinson               UConn
52  60  PHO     Dwayne Collins          Miami (FL)