In [1]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Path to chromedriver (using a Macbook Pro)
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path':'/usr/local/bin/chromedriver'}
browser = Browser('chrome',**executable_path)

In [4]:
# Go to site with draft data
url = "https://www.basketball-reference.com/draft/NBA_2007.html"
browser.visit(url)

In [5]:
df = pd.read_html(url)
draft_df = df[0]
draft_df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                 Pk                 Tm
0                   1                  1                POR
1                   2                  2                SEA
2                   3                  3                ATL
3                   4                  4                MEM
4                   5                  5                BOS
..                ...                ...                ...
57                 56                 56                MIL
58                 57                 57                DET
59                 58                 58                SAS
60                 59                 59                PHO
61                 60                 60                DAL

               Round 1             Unnamed: 5_level_0 Totals                \
                Player     College                Yrs      G     MP    PTS
0            Greg Oden  Ohio State                  3    105   2028    840
1         Kevin Durant       Texas                 13    884  32462  23883
2           Al Horford     Florida                 14    881  28592  12288
3          Mike Conley  Ohio State                 14    886  28561  13235
4           Jeff Green  Georgetown                 13    976  28614  12523
..                 ...         ...                ...    ...    ...    ...
57      Ramon Sessions      Nevada                 11    691  16119   7141
58         Sammy Mejia      DePaul                NaN    NaN    NaN    NaN
59  Georgios Printezis         NaN                NaN    NaN    NaN    NaN
60     D.J. Strawberry    Maryland                  1     33    270     73
61     Milovan RakoviÄ‡         NaN                NaN    NaN    NaN    NaN

          ... Shooting       Per Game                 Advanced               \
     TRB  ...      3P%   FT%       MP   PTS  TRB  AST       WS  WS/48   BPM
0    656  ...      NaN  .658     19.3   8.0  6.2  0.5      7.3   .174  -0.4
1   6239  ...     .384  .883     36.7  27.0  7.1  4.2    146.7   .217   6.7
2   7241  ...     .364  .755     32.5  13.9  8.2  3.3     92.8   .156   2.8
3   2655  ...     .379  .821     32.2  14.9  3.0  5.7     80.1   .135   2.4
4   4271  ...     .340  .804     29.3  12.8  4.4  1.6     46.4   .078  -1.3
..   ...  ...      ...   ...      ...   ...  ...  ...      ...    ...   ...
57  1840  ...     .316  .791     23.3  10.3  2.7  4.1     28.8   .086  -0.7
58   NaN  ...      NaN   NaN      NaN   NaN  NaN  NaN      NaN    NaN   NaN
59   NaN  ...      NaN   NaN      NaN   NaN  NaN  NaN      NaN    NaN   NaN
60    28  ...     .240  .474      8.2   2.2  0.8  0.9     -0.2  -.031  -5.6
61   NaN  ...      NaN   NaN      NaN   NaN  NaN  NaN      NaN    NaN   NaN


    VORP
0    0.8
1   71.6
2   34.7
3   31.9
4    4.9
..   ...
57   5.2
58   NaN
59   NaN
60  -0.2
61   NaN

[62 rows x 22 columns]

In [6]:
draft_df.columns

MultiIndex([('Unnamed: 0_level_0',      'Rk'),
            ('Unnamed: 1_level_0',      'Pk'),
            ('Unnamed: 2_level_0',      'Tm'),
            (           'Round 1',  'Player'),
            (           'Round 1', 'College'),
            ('Unnamed: 5_level_0',     'Yrs'),
            (            'Totals',       'G'),
            (            'Totals',      'MP'),
            (            'Totals',     'PTS'),
            (            'Totals',     'TRB'),
            (            'Totals',     'AST'),
            (          'Shooting',     'FG%'),
            (          'Shooting',     '3P%'),
            (          'Shooting',     'FT%'),
            (          'Per Game',      'MP'),
            (          'Per Game',     'PTS'),
            (          'Per Game',     'TRB'),
            (          'Per Game',     'AST'),
            (          'Advanced',      'WS'),
            (          'Advanced',   'WS/48'),
            (          'Advanced',     'BPM'),
            (          'Advanced',    'VORP')],
           )

In [7]:
draft_df.columns = draft_df.columns.droplevel(0)
draft_df.head(62)

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,1,POR,Greg Oden,Ohio State,3,105,2028,840,656,...,NaN,.658,19.3,8.0,6.2,0.5,7.3,.174,-0.4,0.8
1,2,2,SEA,Kevin Durant,Texas,13,884,32462,23883,6239,...,.384,.883,36.7,27.0,7.1,4.2,146.7,.217,6.7,71.6
2,3,3,ATL,Al Horford,Florida,14,881,28592,12288,7241,...,.364,.755,32.5,13.9,8.2,3.3,92.8,.156,2.8,34.7
3,4,4,MEM,Mike Conley,Ohio State,14,886,28561,13235,2655,...,.379,.821,32.2,14.9,3.0,5.7,80.1,.135,2.4,31.9
4,5,5,BOS,Jeff Green,Georgetown,13,976,28614,12523,4271,...,.340,.804,29.3,12.8,4.4,1.6,46.4,.078,-1.3,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,56,56,MIL,Ramon Sessions,Nevada,11,691,16119,7141,1840,...,.316,.791,23.3,10.3,2.7,4.1,28.8,.086,-0.7,5.2
58,57,57,DET,Sammy Mejia,DePaul,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,58,58,SAS,Georgios Printezis,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,59,59,PHO,D.J. Strawberry,Maryland,1,33,270,73,28,...,.240,.474,8.2,2.2,0.8,0.9,-0.2,-.031,-5.6,-0.2
61,60,60,DAL,Milovan RakoviÄ‡,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
draft_df.iloc[30:35]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
30,NaN,NaN,NaN,Round 2,Round 2,NaN,Totals,Totals,Totals,Totals,...,Shooting,Shooting,Per Game,Per Game,Per Game,Per Game,Advanced,Advanced,Advanced,Advanced
31,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
32,31,31,SEA,Carl Landry,Purdue,9,513,11524,5541,2533,...,.300,.785,22.5,10.8,4.9,0.7,35.9,.149,-0.3,5.0
33,32,32,BOS,Gabe Pruitt,USC,2,62,461,125,51,...,.283,.783,7.4,2.0,0.8,0.8,0.4,.043,-2.8,-0.1
34,33,33,SAS,Marcus Williams,Arizona,2,13,39,14,12,...,NaN,NaN,3.0,1.1,0.9,0.2,-0.1,-.084,-5.4,0.0

In [9]:
draft_df.drop([30,31],inplace=True)
draft_df.iloc[30:35]

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
32,31,31,SEA,Carl Landry,Purdue,9,513,11524,5541,2533,...,.300,.785,22.5,10.8,4.9,0.7,35.9,.149,-0.3,5.0
33,32,32,BOS,Gabe Pruitt,USC,2,62,461,125,51,...,.283,.783,7.4,2.0,0.8,0.8,0.4,.043,-2.8,-0.1
34,33,33,SAS,Marcus Williams,Arizona,2,13,39,14,12,...,NaN,NaN,3.0,1.1,0.9,0.2,-0.1,-.084,-5.4,0.0
35,34,34,DAL,Nick Fazekas,Nevada,1,26,269,107,89,...,.000,.682,10.3,4.1,3.4,0.4,0.8,.148,0.5,0.2
36,35,35,SEA,Glen Davis,LSU,8,514,10865,4111,2236,...,.182,.700,21.1,8.0,4.4,0.9,18.6,.082,-2.6,-1.7

In [10]:
clean_draft_df = draft_df.dropna(subset=["College"])
clean_draft_df

,Rk,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,1,POR,Greg Oden,Ohio State,3,105,2028,840,656,...,NaN,.658,19.3,8.0,6.2,0.5,7.3,.174,-0.4,0.8
1,2,2,SEA,Kevin Durant,Texas,13,884,32462,23883,6239,...,.384,.883,36.7,27.0,7.1,4.2,146.7,.217,6.7,71.6
2,3,3,ATL,Al Horford,Florida,14,881,28592,12288,7241,...,.364,.755,32.5,13.9,8.2,3.3,92.8,.156,2.8,34.7
3,4,4,MEM,Mike Conley,Ohio State,14,886,28561,13235,2655,...,.379,.821,32.2,14.9,3.0,5.7,80.1,.135,2.4,31.9
4,5,5,BOS,Jeff Green,Georgetown,13,976,28614,12523,4271,...,.340,.804,29.3,12.8,4.4,1.6,46.4,.078,-1.3,4.9
6,7,7,MIN,Corey Brewer,Florida,13,819,18771,7097,2287,...,.284,.713,22.9,8.7,2.8,1.5,22.5,.058,-1.6,2.0
7,8,8,CHA,Brandan Wright,UNC,10,428,6949,2976,1560,...,.000,.674,16.2,7.0,3.6,0.5,26.2,.181,2.3,7.5
8,9,9,CHI,Joakim Noah,Florida,13,672,18646,5881,6058,...,.000,.700,27.7,8.8,9.0,2.8,61.9,.159,2.5,20.9
9,10,10,SAC,Spencer Hawes,Washington,10,684,15541,5932,3893,...,.350,.716,22.7,8.7,5.7,1.9,22.6,.070,-1.1,3.4
10,11,11,ATL,Acie Law,Texas A&M,4,188,2385,725,195,...,.235,.778,12.7,3.9,1.0,1.6,1.6,.032,-3.9,-1.1
11,12,12,PHI,Thaddeus Young,Georgia Tech,14,1033,30933,13526,6137,...,.331,.667,29.9,13.1,5.9,1.8,66.7,.103,0.4,19.0
12,13,13,NOK,Julian Wright,Kansas,4,231,3049,907,531,...,.262,.584,13.2,3.9,2.3,0.8,3.9,.061,-0.5,1.2
13,14,14,LAC,Al Thornton,Florida State,4,296,8274,3527,1233,...,.293,.747,28.0,11.9,4.2,1.2,6.1,.035,-3.5,-3.2
14,15,15,DET,Rodney Stuckey,Eastern Washington,10,651,17890,8185,1912,...,.300,.824,27.5,12.6,2.9,3.6,28.7,.077,-0.9,4.9
15,16,16,WAS,Nick Young,USC,12,720,16419,8194,1427,...,.376,.836,22.8,11.4,2.0,1.0,18.6,.054,-2.2,-0.8
16,17,17,NJN,Sean Williams,Boston College,4,137,1978,581,472,...,.000,.624,14.4,4.2,3.4,0.3,3.0,.073,-3.1,-0.6
18,19,19,LAL,Javaris Crittenton,Georgia Tech,2,113,1853,595,276,...,.231,.638,16.4,5.3,2.4,1.8,0.1,.002,-4.2,-1.0
19,20,20,MIA,Jason Smith,Colorado State,11,616,10029,3777,2075,...,.333,.783,16.3,6.1,3.4,0.7,14.1,.067,-2.9,-2.4
20,21,21,PHI,Daequan Cook,Ohio State,6,328,5993,2114,703,...,.359,.813,18.3,6.4,2.1,0.7,4.9,.039,-2.7,-1.1
21,22,22,CHA,Jared Dudley,Boston College,14,904,20117,6633,2849,...,.393,.732,22.3,7.3,3.2,1.5,43.0,.103,0.2,11.0
22,23,23,NYK,Wilson Chandler,DePaul,12,676,20287,8463,3574,...,.341,.770,30.0,12.5,5.3,1.8,29.0,.069,-1.3,3.5
24,25,25,UTA,Morris Almond,Rice University,3,38,361,119,46,...,.292,.743,9.5,3.1,1.2,0.3,0.0,.005,-6.1,-0.4
25,26,26,HOU,Aaron Brooks,Oregon,10,645,13439,6259,1079,...,.370,.837,20.8,9.7,1.7,3.0,19.2,.069,-1.2,2.7
26,27,27,DET,Arron Afflalo,UCLA,11,762,20829,8198,2176,...,.386,.825,27.3,10.8,2.9,1.8,33.5,.077,-1.5,2.4
28,29,29,PHO,Alando Tucker,Wisconsin,3,51,426,211,49,...,.294,.783,8.4,4.1,1.0,0.3,0.4,.045,-4.5,-0.3
32,31,31,SEA,Carl Landry,Purdue,9,513,11524,5541,2533,...,.300,.785,22.5,10.8,4.9,0.7,35.9,.149,-0.3,5.0
33,32,32,BOS,Gabe Pruitt,USC,2,62,461,125,51,...,.283,.783,7.4,2.0,0.8,0.8,0.4,.043,-2.8,-0.1
34,33,33,SAS,Marcus Williams,Arizona,2,13,39,14,12,...,NaN,NaN,3.0,1.1,0.9,0.2,-0.1,-.084,-5.4,0.0
35,34,34,DAL,Nick Fazekas,Nevada,1,26,269,107,89,...,.000,.682,10.3,4.1,3.4,0.4,0.8,.148,0.5,0.2
36,35,35,SEA,Glen Davis,LSU,8,514,10865,4111,2236,...,.182,.700,21.1,8.0,4.4,0.9,18.6,.082,-2.6,-1.7
37,36,36,GSW,Jermareo Davidson,Alabama,2,52,433,162,96,...,NaN,.578,8.3,3.1,1.8,0.3,0.0,.000,-5.2,-0.3
38,37,37,POR,Josh McRoberts,Duke,11,433,8271,2333,1686,...,.340,.705,19.1,5.4,3.9,2.1,18.5,.107,0.3,4.7
42,41,41,MIN,Chris Richard,Florida,2,70,780,135,194,...,NaN,.605,11.1,1.9,2.8,0.4,0.7,.045,-5.7,-0.7
43,42,42,POR,Derrick Byars,Vanderbilt,1,2,37,10,11,...,.000,1.000,18.5,5.0,5.5,0.5,0.1,.147,-4.7,0.0
44,43,43,NOK,Adam Haluska,Iowa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,44,44,ORL,Reyshawn Terry,UNC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,45,45,LAC,Jared Jordan,Marist College,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,46,46,GSW,StÃ©phane Lasme,UMass,1,16,303,83,53,...,NaN,.594,18.9,5.2,3.3,0.2,0.3,.041,-4.4,-0.2
48,47,47,WAS,Dominic McGuire,Fresno State,6,342,5348,939,1169,...,.188,.658,15.6,2.7,3.4,1.2,4.1,.037,-2.1,-0.1
50,49,49,CHI,Aaron Gray,Pitt,7,318,3851,1066,1190,...,.000,.562,12.1,3.4,3.7,0.7,6.2,.077,-3.6,-1.5
52,51,51,CHI,JamesOn Curry,Oklahoma State,1,1,0,0,0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
53,52,52,POR,Taurean Green,Florida,1,17,74,27,10,...,.182,.917,4.4,1.6,0.6,0.6,-0.1,-.066,-7.5,-0.1
54,53,53,POR,Demetris Nichols,Syracuse,2,18,58,22,7,...,.200,.500,3.2,1.2,0.4,0.1,-0.2,-.203,-10.3,-0.1
56,55,55,UTA,Herbert Hill,Providence,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,56,56,MIL,Ramon Sessions,Nevada,11,691,16119,7141,1840,...,.316,.791,23.3,10.3,2.7,4.1,28.8,.086,-0.7,5.2
58,57,57,DET,Sammy Mejia,DePaul,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,59,59,PHO,D.J. Strawberry,Maryland,1,33,270,73,28,...,.240,.474,8.2,2.2,0.8,0.9,-0.2,-.031,-5.6,-0.2

In [13]:
final_draft_df = clean_draft_df[["Pk","Tm","Player","College"]] 
final_draft_df

    Pk   Tm              Player             College
0    1  POR           Greg Oden          Ohio State
1    2  SEA        Kevin Durant               Texas
2    3  ATL          Al Horford             Florida
3    4  MEM         Mike Conley          Ohio State
4    5  BOS          Jeff Green          Georgetown
6    7  MIN        Corey Brewer             Florida
7    8  CHA      Brandan Wright                 UNC
8    9  CHI         Joakim Noah             Florida
9   10  SAC       Spencer Hawes          Washington
10  11  ATL            Acie Law           Texas A&M
11  12  PHI      Thaddeus Young        Georgia Tech
12  13  NOK       Julian Wright              Kansas
13  14  LAC         Al Thornton       Florida State
14  15  DET      Rodney Stuckey  Eastern Washington
15  16  WAS          Nick Young                 USC
16  17  NJN       Sean Williams      Boston College
18  19  LAL  Javaris Crittenton        Georgia Tech
19  20  MIA         Jason Smith      Colorado State
20  21  PHI        Daequan Cook          Ohio State
21  22  CHA        Jared Dudley      Boston College
22  23  NYK     Wilson Chandler              DePaul
24  25  UTA       Morris Almond     Rice University
25  26  HOU        Aaron Brooks              Oregon
26  27  DET       Arron Afflalo                UCLA
28  29  PHO       Alando Tucker           Wisconsin
32  31  SEA         Carl Landry              Purdue
33  32  BOS         Gabe Pruitt                 USC
34  33  SAS     Marcus Williams             Arizona
35  34  DAL        Nick Fazekas              Nevada
36  35  SEA          Glen Davis                 LSU
37  36  GSW   Jermareo Davidson             Alabama
38  37  POR      Josh McRoberts                Duke
42  41  MIN       Chris Richard             Florida
43  42  POR       Derrick Byars          Vanderbilt
44  43  NOK        Adam Haluska                Iowa
45  44  ORL      Reyshawn Terry                 UNC
46  45  LAC        Jared Jordan      Marist College
47  46  GSW      StÃ©phane Lasme               UMass
48  47  WAS     Dominic McGuire        Fresno State
50  49  CHI          Aaron Gray                Pitt
52  51  CHI       JamesOn Curry      Oklahoma State
53  52  POR       Taurean Green             Florida
54  53  POR    Demetris Nichols            Syracuse
56  55  UTA        Herbert Hill          Providence
57  56  MIL      Ramon Sessions              Nevada
58  57  DET         Sammy Mejia              DePaul
60  59  PHO     D.J. Strawberry            Maryland

In [15]:
final_draft_df.to_csv('./data/2007draft.csv',index=False)